p ?
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script( src="http://cdn.sockjs.org/sockjs-0.3.min.js" )
script
  var sock = new SockJS(window.location.origin + '/gimmie/');
  sock.onmessage = function(m){
    var data = JSON.parse(m.data);
    $('#style').remove();
    data = JSON.parse(data);
    if(data.html){
      $('section').html(data.html)
    }
    if(data.js){
      eval(data.js);
    }
    if(data.css){
      var css = $('<style/>',{text: data.css, id: 'style'})
      $('body').append(css);
    }
  };
