<blockquote>Feed the funbrella</blockquote>
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script( src="http://cdn.sockjs.org/sockjs-0.3.min.js" )
script( src="/javascripts/get.js" )
script( src="/javascripts/main.js" )
script
  var sock
    , lastPost
    , connect = function(){
      sock = {};
      sock = new SockJS(window.location.origin + '/gimmie/');
      sock.onmessage = function(m){
        var data = JSON.parse(m.data);
        if(lastPost === JSON.stringify(data)){
          console.log('duplicate',data);
          return false;
        }
        $('#style').remove();
        if(data.html){
          $('section').html(data.html)
        }
        if(data.js){
          try{
            eval(data.js);
          }catch(e){
            console.log(e);
          }
        }
        if(data.css){
          var css = $('<style/>',{text: data.css, id: 'style'})
          $('body').append(css);
        };
        lastPost = JSON.stringify(data);
      };
      sock.onclose = function(c){
        $('section').html('<blockquote>'+c.reason+'</blockquote>')
      };
    }
  setInterval(function(){if(sock.readyState != 1){connect()};}, 30000);
  connect();
style
  body{
    overflow: hidden;
  }
