<blockquote>Feed the funbrella</blockquote>
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script( src="http://cdn.sockjs.org/sockjs-0.3.min.js" )
script( src="/javascripts/weather.js" )
script( src="/javascripts/main.js" )
script
  var sock;
  var connect = function(){
    sock = {};
    sock = new SockJS(window.location.origin + '/gimmie/');
    sock.onmessage = function(m){
      var data = JSON.parse(m.data);
      $('#style').remove();
      if(data.html){
        $('section').html(data.html)
      }
      if(data.js){
        try{
        eval(data.js);
        }catch(e){
          console.log(e);
        }
      }
      if(data.css){
        var css = $('<style/>',{text: data.css, id: 'style'})
        $('body').append(css);
      }
    };
    sock.onclose = function(c){
      console.log(c);
    };
    console.log("new socket:",sock);
  }
  connect();
  setInterval(function(){if(sock.readyState != 1){connect()};}, 30000);
style
  body{
  overflow: hidden;
  }
