!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Averia+Libre:700,700italic', rel='stylesheet', type='text/css')
  body
    div(class="sunburst")
      div(class="outer")
        <b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b>
    section
      != body
