form( action='/send', method='post' )
  div
    textarea#editor
      { "html": "
      |<ul>
      |&nbsp;&nbsp;<li>
      |&nbsp;&nbsp;&nbsp;&nbsp;<img src='http://whiskey:3456/funbrella.png' class='animated pulse loop' />
      |&nbsp;&nbsp;</li>
      |&nbsp;&nbsp;<li class='animated flash loop'>witty text.</li>
      |</ul>"
      , "css": "ul li{ opacity:.5;}"
      , "js": "var slideshow = new Funbrella.list($('ul li'),4000);"}
  div.submit
    input.button( type='button', value='impress your friends', id='send')
.box
  p There are some classes like "framed", "typed", "box" that make things look nicer.
  p I've also included <a href='http://daneden.me/animate/'>animate.css</a> so you can use anything from that as well as an "loop" class to loop.
  p Blockquotes are good for putting text on the page.
  p Add {.sunburst:display:none;) if you want to hide it.
  p You can do a simple slideshow like so "var slideshow = new Funbrella.list($('ul li'),4000);" where 'ul li' is the selector for a list of items and 4000 is the timeout in milliseconds.
.box
  p Here's an example of getting the weather.
  p
    | { "html": "&lt;div class='neet'&gt;&lt;/div&gt;", "css": ".neet{ opacity:.8;}", "js": "var w = new Get.Weather('.neet');"}
  p Or you can go to the <a href='/actions'>actions</a> page.
  P Or the news:
  p
    | { "html": "&lt;div class='news'&gt;&lt;/div&gt;", "css": ".neet{ opacity:.8;}", "js": "var n = new Get.News('.news',{ category: 36 });"}
  P that would return the news of the weird category. additional options are:
  p
    | {category: 22, type: 'search', query: 'groupon'}
  p that would search for groupon articles in the business category. you can see all categories with:
  p
    | curl <a href='http://api.feedzilla.com/v1/categories.json'>http://api.feedzilla.com/v1/categories.json</a>
  

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script( src="http://cdn.sockjs.org/sockjs-0.3.min.js" )
script( src="/javascripts/edit.js" )
script( src="/javascripts/new.js" )
style
  .sunburst{display:none;}
  body section{position: static;}
