form( action='/send', method='post' )
  div
    textarea
      { "html": "
      |<ul>
      |  <li>
      |    <img src='http://whiskey:3456/funbrella.png' class='animated pulse loop' />
      |  </li>
      |  <li class='animated flash loop'>remain calm.</li>
      |</ul>"
      , "css": "ul li{ opacity:.5;}"
      , "js": "var slideshow = new Funbrella.list($('ul li'),4000);"}
  div.submit
    input.button( type='button', value='impress your friends', id='send')
.box
  p There are some classes like "framed", "typed", "box" that make things look nicer.
  p I've also included <a href='http://daneden.me/animate/'>animate.css</a> so you can use anything from that as well as an "loop" class to loop.
  p Blockquotes are good for putting text on the page.
  p Add {.sunburst:display:none;) if you want to hide it.
  p You can do a simple slideshow like so "var slideshow = new Funbrella.list($('ul li'),4000);" where 'ul li' is the selector for a list of items and 4000 is the timeout in milliseconds.

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script( src="http://cdn.sockjs.org/sockjs-0.3.min.js" )
script( src="/javascripts/new.js" )
style
  .sunburst{display:none;}
