form( action='/send', method='post' )
  div
    textarea
      { "html": "<blockquote class='typed'>Hello world!</blockquote>"
      , "css": "h1{color:#369;font-size:75px;}"
      , "js": "console.log('hi')"}
  div.submit
    input.button( type='button', value='impress your friends', id='send')
.box
  p there are some classes like "framed", "typed", "box" that make things look nicer.
  p blockquotes are good for putting text on the page.

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script( src="http://cdn.sockjs.org/sockjs-0.3.min.js" )
script
  var sock = new SockJS(window.location.origin + '/gimmie/');
  $('#send').click(function(ev){
    ev.preventDefault();
    data = $('form textarea').val();
    sock.send(JSON.stringify(data));
  });
  sock.onclose = function(c){
    console.log(c);
    sock = new SockJS(window.location.origin + '/gimmie/');
  };
style
  .sunburst{display:none;}
