<div class="neet"><div><img class="icon" src="/images/weather/tick/cloudy2.png"><h1 class="temp">70.9<small class="condition">Partly Cloudy</small></h1><ul class="forecast"><li class="partlycloudy"><h2>Mon</h2><figure><img class="icon" src="/images/weather/tick/cloudy2.png"><figcaption>71/57</figcaption></figure></li><li class="partlycloudy"><h2>Tue</h2><figure><img class="icon" src="/images/weather/tick/cloudy2.png"><figcaption>68/55</figcaption></figure></li><li class="partlycloudy"><h2>Wed</h2><figure><img class="icon" src="/images/weather/tick/cloudy2.png"><figcaption>66/57</figcaption></figure></li><li class="clear"><h2>Thu</h2><figure><img class="icon" src="/images/weather/tick/sunny.png"><figcaption>73/61</figcaption></figure></li></ul></div></div>
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script( src="http://cdn.sockjs.org/sockjs-0.3.min.js" )
script( src="/javascripts/main.js" )
script( src="/javascripts/weather.js" )
script
  //var w = new Get.Weather('.weather');
style
  .sunburst{display:none;}
